/* This is the mainpage css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body, html{
    width: 100%;
    height: 100%;
  }
  /* header start */
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: black;
    transition: 0.6s;
    
    /* padding: 100px 40px; */
  }
  header.sticky{
    background: #fff;
    color: black;
    margin-top: 0%;
  }
  header .logo{
    position: relative;
    font-weight: 700;
    margin-left: 0%;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li:hover{
    background-color: gray;
    text-decoration: underline;
    transition: 0.6s;
  }
  header ul li{
    position: relative;
    list-style: none;
    font-size: 15px;
    padding: 2px;
  }
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
  }

  
  /* Dropdown Button Start*/
.dropbtn {
  position: relative;
  list-style: none;
  font-size: 15px;
  padding: 2px;
  background: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  background-color: gray;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:black; transition: 0.6s;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; transition: 0.6s;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: gray;
  transition: 0.6s;
}
/* dropdown end */
  header.sticky .logo,
  header.sticky ul li a{
    color: #000;
  }
  /* header end */
  /* parallax start */
  .parallax-effect {
    background-image: url("images/parallaxbg.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
  .parallax-items {
    width: 65%;
    float: left;
    margin-top: 15%;
    margin-left: 2%;
    color: white;
    font-size: 400%;
  }
  
  .parallax-effect button{
    float: left;
    margin-top: 5%;
    padding: 1%;
    border: none;
    background-color: orange;
    width: 35%;
    height: max-content;
    color: white;
    font-size: 65%;
    border-radius: 20px;
    margin-bottom: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .parallax-effect button:hover{
    float: left;
    margin-top: 5%;
    padding: 1%;
    border: none;
    background-color: lightyellow;
    width: 35%;
    height: max-content;
    color: black;
    box-shadow: 5px 10px orange;
    font-size: 65%;
    border-radius: 20px;
    margin-bottom: 10%;
    transition: 0.6s;
  }
  /* parallax end */
  /* second portion start */
  .text {
    width: 100%;
    height: 70%;
    background: black;
    color: white;
    padding-bottom: 5%;
  }
  .text .second .catch{
    text-align: center;
  }
  
  .text h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 2.5%;
  }
  /* Cards */
  .cardholder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50%;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    width: 25%;
    margin-top: 10px;
    background-color: black;
  }
  .card img{
    height: 110%;
    width: 100%;
    padding: 10px;
  }
  .card h4{
    padding-top: 3%;
    text-align: center;
    font-size: 110%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* On mouse-over, add a deeper shadow */
  .card img:hover {
    box-shadow: 0 10px 14px 0 white;
    transition: 0.6s;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  
  /* button for text */
  .buttoncenter .templatebutton{
    /* position: absolute; */
    margin-left: 37.5%;
    margin-top: 5%;
    font-size: 150%;
    border: none;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    background-color: orange;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .buttoncenter .templatebutton:hover{
    /* position: absolute; */
    background-color: lightyellow;
    color: black;
    box-shadow: 5px 10px orange;
    transition: 0.6s;
  }
  /* ending of first portion  */
  /* parallax between start */
  .parallax-effect-two{
    background-image: url("images/parallaxtwo.jpg");
    height: 10%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
  /* parallax between end */
  /* second info portion start */
  .more{
    background: black;
    color: white;
    text-align: center;
    height: 85%;
    width: 100%;
    padding-bottom: 5%;
  }
  .more h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 2.5%;
  }
  .imagemontage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1%;
    padding-right:1%;
    padding-top: 2%;
  }
  .imagemontage img{
    width: 30%;
    padding-top: 1%;
    height: 70%;
  }
  .buttoncenter-two .templatebutton-two{
    /* position: absolute; */
    margin-top: 3%;
    font-size: 150%;
    border: none;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    background-color: orange;
    
    color: white;
  }
  
  .buttoncenter-two .templatebutton-two:hover{
    /* position: absolute; */
    background-color: lightyellow;
    color: black;
    box-shadow: 5px 10px orange;
    transition: 0.6s;
  }
/* 
  third section */
  .thirdsection{
    background: black;
    color: white;
    text-align: center;
    height: 135%;
    width: 100%;
  }
  .mainline-two{
    padding-top: 2.5%;
    text-decoration: underline;
    text-align: center;
  }

  .imageex img{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    justify-content: space-between;
    padding: 2%;
  }
  .imageex img:hover{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: space-between;
    padding: 1%;
    transition: 0.6s;
  }

  .buttoncenter-three .buttoncenter-threetemp{
    /* position: absolute; */
    margin-top: 1%;
    font-size: 150%;
    border: none;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    background-color: orange;
    color: white;
  }
  
  .buttoncenter-three .buttoncenter-threetemp:hover{
    /* position: absolute; */
    background-color: lightyellow;
    color: black;
    box-shadow: 5px 10px orange;
    transition: 0.6s;
  }
/* 
  fourth section */
  .fourthsection{
    background: black;
    color: white;
    text-align: center;
    height: 135%;
    width: 100%;
  }
  .mainline-three{
    padding-top: 2.5%;
    text-decoration: underline;
    text-align: center;
  }