<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="saco.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="saco.js"></script>
    <div class="header">
      
    </div>
    <div id="navbar">
        <div class="image"><img src="http://sacoriverlodgeandsuites.com/saco_river_images/srmlslidelogo.jpg" alt=""></div>
        <a href="http://sacoriverlodgeandsuites.com/fryeburg-fair-rooms-suites.htm">Rooms and Suites</a>
        <a href="http://sacoriverlodgeandsuites.com/north-conway-canoe-kayak-lodge-specials.htm">Lodging Specials</a>
        <a href="http://sacoriverlodgeandsuites.com/north-conway-nh-weddings.htm">Weddings and Events</a>
        <a href="http://sacoriverlodgeandsuites.com/fryeburg-fair-amenities.htm">Lodge Amenities</a>
        <a href="http://sacoriverlodgeandsuites.com/saco-river-activities.htm">Area Activities</a>
        <a href="http://sacoriverlodgeandsuites.com/contact.php">Contact Us</a>
        <a href="https://reservation.asiwebres.com/SearchAvailability.aspx?id=00e22842fd1a4b53bf3d6654ca2f1b9f">Reservations</a>
      <a href="http://sacoriverlodgeandsuites.com/covid-19.htm">COVID-19 Update</a>
        <a href="https://reservation.asiwebres.com/SearchAvailability.aspx?id=00e22842fd1a4b53bf3d6654ca2f1b9f" style="background-color: red; color: white;">Make a Reservation</a>
    </div>

      <div class="welcome" style="text-align: center;"><h2>Come see all the fantastic tourist spots that the Conway area has to offer</h2></div>
    <!-- Container for the image gallery -->
<div class="container">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src="http://sacoriverlodgeandsuites.com/saco_river_images/conway-village.jpg" style="width:65%;">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-mount-washington.jpg" style="width:65%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-polar-express.jpg" style="width:65%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-scenic-train.jpg" style="width:65%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-ski-mother-and-child.jpg" style="width:65%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-Train-station.jpg" style="width:65%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="http://sacoriverlodgeandsuites.com/saco_river_images/conway-village.jpg" style="width:100%" onclick="currentSlide(1)" alt="North Conway Shopping Center">
    </div>
    <div class="column">
      <img class="demo cursor" src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-mount-washington.jpg" style="width:100%" onclick="currentSlide(2)" alt="Mount Washington">
    </div>
    <div class="column">
      <img class="demo cursor" src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-polar-express.jpg" style="width:100%" onclick="currentSlide(3)" alt="North Conway Railroad Station">
    </div>
    <div class="column">
      <img class="demo cursor" src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-scenic-train.jpg" style="width:100%" onclick="currentSlide(4)" alt="Scenic Railway">
    </div>
    <div class="column">
      <img class="demo cursor" src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-ski-mother-and-child.jpg" style="width:100%" onclick="currentSlide(5)" alt="Skiing">
    </div>
    <div class="column">
      <img class="demo cursor" src="http://sacoriverlodgeandsuites.com/saco_river_images/north-conway-Train-station.jpg" style="width:100%" onclick="currentSlide(6)" alt="North Conway Train Station Christmas">
    </div>
  </div>
</div>
    <div class="middleportion">
      <h2 style="text-align: center">Welcome to the White Mountains and the Saco River Motel Lodge & Suites!</h2>
      <div class="text" style="text-align: center; margin-top:2px">
        <div style="margin-top: 4px;">The Saco River Motor Lodge is nestled in the beautiful woods on the peaceful Saco River. As a young family, we wanted to create and design our grounds with families in mind. Our grounds has a large pool, playground for kids, firepits for roasting marshmellows, grills for barbeques and picnic table for added comfort. There is a little soccor field behind the building for kids to play on. Sit and relax by our large pool or swim, canoe, kayak and tube down the beautiful Saco River located right next to us. In the winter we have ski packages with many major ski mountains; Attitash, Wildcat, Cranmore and Shawnee Peak. All kinds of activities going on in and around the valley. Check out the links below to see some of what the Mount Washington Valley has to offer.</div>
        <div style="margin-top: 4px;">Located near North Conway, the lodge sits only minutes away from all the fun and adventures activities the area has to offer. A partial list of what is nearby includes 5 Major ski resorts, over 100 shopping outlets, hundreds of miles of hiking and cross country skiing trails, snowmobiling, summertime river canoeing and kayaking, legendary nightspots and over 60 restaurants to choose from. You name it and you can find it here in the Mt. Washington Valley. Spend the day shopping with your friends at Settler’s Green Tax free outlets, and ask us about our shopping deals!</div>
        <div style="margin-top: 4px;">If you're looking to go out for the evening, we have many fine restaurants in the Mt. Washington Valley area and also Western Maine; check out the Lodge Amenities page for discounts just for our guests at Applebee's, Shalimar and the Fryeburg House of Pizza.</div>
      </div>
    </div>
    <div class="bottomportion">
      <p style="text-align: center; color: rgb(4, 100, 154); margin-top: 20px">Whether you are looking for a rigorous outdoor adventure, a fun filled family vacation, or just a quiet or romantic get-away, Conway NH and the Mount Washington Valley area has just what you are looking for </p>
      <p style="text-align: center; color: rgb(4, 100, 154); margin-top: 2px"> Explore the...</p>
    </div>
    <div class="cardholder">
      <div class="card">
        <a href="http://sacoriverlodgeandsuites.com/MtWashington.htm"><img src="http://sacoriverlodgeandsuites.com/images/mtwashington_001.png" alt="White Mountains"></a>
        <div class="container">
          <p><b>Mount Washington</b></p>
          <p></p>
        </div>
      </div>

      <div class="card">
        <a href="http://sacoriverlodgeandsuites.com/north-conway-canoe-kayak-lodge-specials.htm"><img src="http://sacoriverlodgeandsuites.com/saco_river_images/saco-river-canoe.jpg" alt="Saco River"></a>
        <div class="container">
          <p><b>Saco River</b></p>
          <p></p>
        </div>
      </div>

      <div class="card">
        <a href="http://sacoriverlodgeandsuites.com/HIKERS.htm"><img src="http://sacoriverlodgeandsuites.com/images/7405778508_4977b9aea7_m.jpg" alt="Trails"></a>
        <div class="container">
          <p><b>Hiking Trails</b></p>
          <p></p>
        </div>
      </div>

      <div class="card">
        <a href="http://sacoriverlodgeandsuites.com/SummerFun.htm"><img src="http://sacoriverlodgeandsuites.com/images/slides.jpg" alt="Foliage"></a>
        <div class="container">
          <p><b>Summer Fun</b></p>
          <p></p>
        </div>
      </div>

      <div class="card">
        <a href="http://sacoriverlodgeandsuites.com/FRYEBURGFAIR.htm"><img src="http://sacoriverlodgeandsuites.com/images/fryeburgfair.png" alt="Fryeburg Fair"></a>
        <div class="container">
          <p><b>Fryeburg Fair</b></p>
          <p></p>
        </div>
      </div>

      <div class="card">
        <a href="http://sacoriverlodgeandsuites.com/SNOWMOBILINGSKI.htm"><img src="http://sacoriverlodgeandsuites.com/images/cranmore.jpg" alt="Skiing"></a>
        <div class="container">
          <p><b>Winter Fun</b></p>
          <p></p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="info">
        <p>(603) 447-3720</p>
        <p>Saco River Motor Lodge & Suites
          2626 E Main St, Center Conway, NH 03813</p>
      </div>
      <div class="social">
        <a href="sacorivermotorlodge@yahoo.com"><img src="http://sacoriverlodgeandsuites.com/saco_river_images/email-icon.png" alt=""></a>
        <a href="http://www.facebook.com/SacoRiverLodgeAndSuites" style="margin-left: 3px"><img src="http://sacoriverlodgeandsuites.com/saco_river_images/fb-ftr.jpg" alt=""></a>
      </div>
      <div class="tripadvisor">
      </div>
    </div>
  </body>
</html>