<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Portfolio</title>
    <link rel="stylesheet" href="artport.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
	<script src="artport.js"></script>
    <header class="w3-animate-opacity" >
        <a href="artport.html" class="logo">Art's Purist Form</a>
        <ul>
          <li><a href="#info-one">Gallery</a></li>
          <li><a href="#part-two">Illustration</a></li>
          <li><a href="#foot">Contact</a></li>
        </ul>
      </header>
      <div class="w3-animate-opacity" id="header-image">
          <div class="hook"><div class="hook-2"><h1 class="w3-animate-right" style="transition: 0.9s;"><yay>Live to Inspire</yay></h1></div></div>
          <!-- end of hook -->
          <div class="photos">
            <div class="gallery">
                <img src="" >
            </div>
        </div>
    <!-- end of header parallax -->
      </div>
    <!-- Start of Actual Content -->


    <!-- Image Montage -->
    <div class="w3-animate-opacity" id="info-one">
      <div class="imagemontage-one-titles">
        <h2>Art Piece 1</h2>
        <h2>Art Piece 2</h2>
        <h2>Art Piece 3</h2>
      </div>
        <div class="imagemontage-one">
            <img src="images/imagemontage-1.jpg" >
            <img src="images/imagemontage-1.jpg" >
            <img src="images/imagemontage-1.jpg" >
        </div>
        <div class="imagemontage-two">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <!-- Rotating Gallery -->
        <div class="title-gallery"><h1>Explore More</h1></div>
        <div class="info-one-sectiontwo">
         
          <div class="slider">
            <span style="--i:1;"><img src="images/art-background.jpg"></span>
            <span style="--i:2;"><img src="images/imagemontage-1.jpg"></span>
            <span style="--i:3;"><img src="images/art-background.jpg"></span>
            <span style="--i:4;"><img src="images/imagemontage-1.jpg"></span>
            <span style="--i:5;"><img src="images/art-background.jpg"></span>
            <span style="--i:6;"><img src="images/imagemontage-1.jpg"></span>
            <span style="--i:7;"><img src="images/art-background.jpg"></span>
            <span style="--i:8;"><img src="images/imagemontage-1.jpg"></span>
          </div>
          <!-- End of Rotating Gallery -->
      </div>
    </div>

    <div class="info-two" id="part-two">
      <div class="title"><h1>Illustrations</h1></div>
      <div class="work">
        <img src="images/art-background.jpg">
        <img src="images/art-background.jpg">
        <img src="images/art-background.jpg">
      </div>
    </div>
    <div class="footer" id="foot">
      <div class="title"><h1>Contact</h1></div>
      <div class="icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
    <!-- Image Montage END -->
  </body>
</html>